<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="posicionTitulos">Prueba de nivel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Prueba de nivel</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="ejercicios.length !== 0" class="contenidoPruebaNivel">

    <!-- Ejercicios Seleccion -->
    <div *ngIf="ejercicios[numEjercicio].nombre==='Seleccion' && ejercicioSeleccion.length !== 0">

      <ion-item lines="none"> 
        <section>
          <p><b> {{ ejercicioSeleccion[0].tipoPregunta}} </b></p>
          <p> {{ ejercicioSeleccion[0].enunciado}} </p>
          
          <div class="imagenCentrada">
            <img class="recurso" [src]="ejercicioSeleccion[0].recursoMultimedia">    
          </div>
        </section>
      </ion-item>

      <ion-list>
        <ion-radio-group (ionChange)="guardarSeleccion($event)">
          <ion-item *ngFor="let respuesta of respuestasSeleccion" lines="none">

            <ion-radio *ngIf="ejercicioSeleccion[0].tipoRecurso === 0" [value]="respuesta.idRespuesta">{{ respuesta.valorRespuesta }}</ion-radio>

            <div *ngIf="ejercicioSeleccion[0].tipoRecurso === 1" class="positionImg">
              <ion-label>
                <img [ngClass]="{'radio-image-selected': respuesta.idRespuesta === opcionSeleccionada, 'radio-image': respuesta.idRespuesta !== opcionSeleccionada}" [src]="respuesta.valorRespuesta" alt="img" class="radio-image">
              </ion-label>
              <ion-radio slot="start" [value]="respuesta.idRespuesta"></ion-radio>
            </div>
          </ion-item>
        </ion-radio-group>
      </ion-list>

    </div>

    <!-- Ejercicios Parejas -->
    <div *ngIf="ejercicios[numEjercicio].nombre==='Parejas' && ejercicioParejas.length !== 0">

      <ion-item lines="none">
        <section>
          <p> {{ ejercicioParejas[0].tipoPregunta}} </p>
          <p> {{ ejercicioParejas[0].enunciado}} </p>
        </section>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-radio-group (ionChange)="guardarPareja1($event)">
                <ion-item *ngFor="let respuesta of respuestasParejas" lines="none">

                  <ion-radio [value]="respuesta.idRespuesta">{{ respuesta.valorRespuesta1 }}</ion-radio>

                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-col>

          <ion-col>
            <ion-list>
              <ion-radio-group (ionChange)="guardarPareja2($event)">
                <ion-item *ngFor="let respuesta of respuestasParejas" lines="none">

                  <ion-radio [value]="respuesta.idRespuesta">{{ respuesta.valorRespuesta2 }}</ion-radio>

                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <div *ngIf="ejercicios[numEjercicio].nombre==='Seleccion'" class="centrarBoton">
      <ion-button (click)="nextEjercicio()" class="elongated-button">Continuar</ion-button>
    </div>

    <div *ngIf="ejercicios[numEjercicio].nombre==='Parejas'" class="centrarBoton">
      <ion-button (click)="nextEjercicio()" [ngClass]="{'disabled': numParejas !== 4}" class="elongated-button">Continuar</ion-button>
    </div>
  </div>


</ion-content>