<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="posicionTitulos">Prueba de nivel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Prueba de nivel</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngIf="ejercicios.length != 0" lines="none">
    <section>
      <p> {{ ejercicios[numEjercicio].tipoPregunta}} </p>
      <p> {{ ejercicios[numEjercicio].enunciado}} </p>
    </section>
  </ion-item>  

  <ion-list>
    <ion-radio-group (ionChange)="guardarSeleccion($event)">
      <ion-item *ngFor="let respuesta of respuestas" lines="none">

        <ion-radio *ngIf="respuesta.imagen === 0" [value]="respuesta.idRespuesta">{{ respuesta.valorRespuesta }}</ion-radio>

        <div *ngIf="respuesta.imagen === 1">
          <ion-label>
            <img [src]="respuesta.recursoMultimedia" alt="img" class="radio-image">
          </ion-label>
          <ion-radio slot="start" [value]="respuesta.idRespuesta"></ion-radio>
        </div>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div class="centrarBoton">
    <ion-button (click)="nextEjercicio()" class="elongated-button">Continuar</ion-button>
  </div>
</ion-content>
