.textoBienvenida {
    margin-top: 150px;
    text-align: center;
}

img{
    height: 500px;
    width: auto;
    margin-bottom: -40%;
    margin-top: -40%;
}

h4 {
    color: #9168E1;
}

.centrarTexto {
    margin-left: 30px;
    margin-right: 30px;
}