<ion-header [translucent]="true" class="ion-no-border">
  <!-- <ion-toolbar>
    <ion-title>Bienvenida</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <h4 class="textoBienvenida">Bienvenido a <b>Music Master</b></h4>
  <img src="assets/images/logo.png" class="bienvenida">

  <div class="centrarTexto">
    <p style="text-align: justify;">Antes de empezar, queremos comprobar tus conocimientos sobre Lenguaje Musical para saber el curso al que asignarte.</p>
  </div>

  <div class="centrarBoton">
    <ion-button [routerLink]="['/prueba-nivel']" class="elongated-button">Continuar</ion-button>
  </div>
</ion-content>