<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="posicionTitulos">Curso actual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="structureCurso" *ngIf="curso">
    <ion-item lines="none">
      <section class="custom-section">
        <div class="left-column">
          <img [src]="curso.imagen" alt="Imagen del curso" class="icon-left">
        </div>
        <div class="right-column">
          <p>{{ curso.progreso }}% progreso</p>
          <ion-progress-bar [value]="curso.progreso/100" class="progress-bar" color="tertiary"></ion-progress-bar>
        </div>
      </section>
    </ion-item>  
  </div>

  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-title class="posicionTitulo2">Lecciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="structureLecciones">

    <ion-item *ngFor="let leccion of lecciones" lines="none">
      <section class="estiloLecciones">
        <div class="firstColumn">
          <img [src]="leccion.imagen" alt="Imagen de la leccion" class="imagenLeccion">
        </div>
        <div class="secondColumn">
          <p>{{ leccion.nombre}}</p>
        </div>
        <div class="thirdColumn circulo">
          <p style="color: #FFFFFF; font-size: 12px;"><b>{{leccion.progreso}}%</b></p>
        </div>
      </section>
    </ion-item> 
  </div>
</ion-content>
