<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="posicionTitulos">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="structureCurso">
    <ion-item>
      <section class="custom-section">
        <div class="left-column">
          <img [src]="curso?.imagen ?? ''" alt="Imagen del curso" class="icon-left">
        </div>
        <div class="right-column">
          <p>{{ curso?.progreso }}% progreso</p>
          <img src="assets/images/barra progreso estatica provisional.png" class="progress-bar">
        </div>
      </section>
    </ion-item>  
  </div>

  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-title class="posicionTitulo2">Lecciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="structureLecciones">
    <span *ngIf="lecciones?.length === 0" style="margin-left: 20px;">No hay lecciones en este curso</span>

    <ion-item *ngFor="let leccion of lecciones">
      <section class="estiloLecciones">
        <div class="firstColumn">
          <img [src]="leccion.imagen" alt="Imagen de la leccion" class="imagenLeccion">
        </div>
        <div class="secondColumn">
          <p>{{ leccion.nombre}}</p>
        </div>
        <div class="thirdColumn circulo">
          <p style="color: #FFFFFF; font-size: 12px;"><b>{{leccion.progreso}}%</b></p>
        </div>
      </section>
    </ion-item> 
  </div>
</ion-content>
