<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="posicionTitulos">Todos los cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todos los cursos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="allTheLevels">
    <ion-item *ngFor="let curso of cursos" style="border-color: transparent;">
      <section class="custom-section">
        <div class="left-column">
          <img [src]="curso.imagen" alt="Imagen del curso" class="icon-left">
        </div>
        <div class="right-column">
          <ion-button class="normal-button" size="small" size="small" [routerLink]="['/tabs/inicio', curso.idCurso]">Seleccionar</ion-button>
          <ion-progress-bar type="determinate" [value]="curso.progreso/100" class="progress-bar" color="primary"></ion-progress-bar>
        </div>
      </section>
    </ion-item>
    
  </div>
</ion-content>