.allTheLevels {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

  .custom-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .left-column {
    flex: 0 0 auto; 
    margin-right: 10px; 
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1; 
    margin-right: 20px;
  }
  
  .normal-button {
    align-self: flex-end;
  }
  
  .progress-bar {
    margin-top: 5px;
    width: 100%; 
  }
  
  .icon-left {
    max-height: 68px;
  }

  