// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/tipografiaMontserrat.woff2') format('woff2');
  }
  *{
    font-family: 'Montserrat', sans-serif;
  }

  :root {
    --ion-color-tertiary: #49209B;
  }


.ios, .md {
    --ion-tab-bar-background: #FFFFFF;
    --ion-background-color: #F3F0F0;
}

p {
    font-size: 14px;
}

ion-tab-button {
    --color-selected: #49209B;
    --color: #000000;
    margin-top: -30px;
}

ion-title {
    --color: #49209B;
}

ion-button {
    --background: #49209B;
    --border-radius: 2em;
    text-transform: none;
    max-width: 200px;
}

.centrarBoton {
    text-align: center;
    margin-bottom: 45px;
    margin-top: 45px;
}

.centrarModalBoton {
    text-align: center;
}

.posicionTitulos {
    margin-left: 20px;
    margin-top: 60px;
}

.posicionTitulo2 {
    margin-left: 20px;
}

.posicionTitulosApuntes {
    margin-left: 20px;
    margin-top: 20px;
}
.posicionTitulosAtrás {
    margin-top: 30px;
    margin-left: 40px;
}

ion-tab-bar {
    border-radius: 60px;
    border-color: #716783;
    height: 100px;
    margin-bottom: -30px;
}

ion-progress-bar {
    --progress-background: #49209B;
    --buffer-background: #CCB3FD;
}

.centrarSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.toastAcierto {
 --width: 180px;
 --background: #C8EAAD;
 margin-left: 100px;
 --color: #48801b;
 transform: translateY(130px) !important;
}

.toastError {
--width: 180px;
 --background: #F4B0B0;
 margin-left: 100px;
 --color: #C52828;
 transform: translateY(130px) !important;
}