<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button class="posicionTitulosAtrás" [routerLink]="['/tabs/inicio',leccion?.curso]">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-title class="posicionTitulosApuntes">{{leccion?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="apuntes && leccion">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{leccion.nombre}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="centrarApuntes">
    <ion-item>
      <section>
        <div class="inline-container" style="margin-top: 30px;">
          <p>{{leccion.nombre}}</p>
          <img class="imgGeneral" [src]="apuntes.imagenGeneral">
        </div>
        <div class="fondo" style="margin-top: 10px">
          <p class="textoJustificado">{{apuntes.texto1}}</p>
        </div>
        <div class="inline-container" style="margin-top: 10px">
          <p>{{apuntes.textoImagen1}}</p>
          <img class="imagenes" [src]="apuntes.imagen1">
        </div>
        <div class="inline-container" style="margin-top: 5px">
          <p>{{apuntes.textoImagen2}}</p>
          <img class="imagenes" [src]="apuntes.imagen2">
        </div>
        <div class="fondo" style="margin-top: 10px">
          <p class="textoJustificado">{{apuntes.texto2}}</p>
        </div> 
        <div style="margin-bottom: 30px; margin-top: 10px;">
          <img [src]="apuntes.imagen3">
        </div>
      </section>
    </ion-item>
    
  </div>
</ion-content>
