<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Apuntes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Apuntessssssss</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-item>
      <section>
        <ion-button [routerLink]="['/tabs/inicio/1']"></ion-button>
        <div>
          <p>Clave de FA (4ª línea)</p>
          <img src="assets/images/logo.png">
        </div>
        <div>
          La clave de fa en cuarta línea indica que la nota FA
          se escribe en la cuarta línea del pentagrama. Conociendo
          el nombre de esta nota, fácilmente conoceremos el de las
          notas que se colocan sobre las demás líneas y espacios del
          pentagrama.
        </div>
        <div>
          <p>Líneas</p>
          <img src="assets/images/logo.png">
        </div>
        <div>
          <p>Espacios</p>
          <img src="assets/images/logo.png">
        </div>
        <div>
          <p>También la clave de fa en cuarta línea exige la utilización
            de líneas adicionales superiores para la práctica solfística,
            como puede verse en el siguiente ejemplo.</p>
            <img src="assets/images/logo.png">
        </div> 
      </section>
    </ion-item>
    
  </div>
</ion-content>
