.centrarApuntes {
    margin-left: 20px;
    margin-right: 20px;
  }

  .imgGeneral {
    height: 40px;
  }

  .imagenes {
    height: 45px;
  }

  .imagenFinal {
    height: 55px;
  }

  .textoJustificado {
    text-align: justify;
  }

  .inline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .fondo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
  }