<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button [routerLink]="['/tabs/inicio',leccion?.curso]">AAA</ion-button>
    <ion-title>{{leccion?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="apuntes && leccion">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{leccion.nombre}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-item>
      <section>
        <div>
          <p>{{leccion.nombre}}</p>
          <img src="assets/images/logo.png">
        </div>
        <div>
          {{apuntes.texto1}}
        </div>
        <div>
          <p>Líneas</p>
          <img src="assets/images/logo.png">
        </div>
        <div>
          <p>Espacios</p>
          <img src="assets/images/logo.png">
        </div>
        <div>
          <p>También la clave de fa en cuarta línea exige la utilización
            de líneas adicionales superiores para la práctica solfística,
            como puede verse en el siguiente ejemplo.</p>
            <img src="assets/images/logo.png">
        </div> 
      </section>
    </ion-item>
    
  </div>
</ion-content>
