.textoBienvenida {
    /* margin-top: 150px; */
    text-align: center;
}

.centrarPorcentaje {
    display: flex;
    justify-content: center;
    align-items: center;
}

.porcentaje {
    background-color: #9168e1;
    margin-top: 150px;
    border-radius: 100px;
    padding: 70px;
    /* width: 200px; */
}

img{
    margin-top: 20px;
    margin-bottom: 30px;
}

.centrarTexto {
    display: flex;
    justify-content: center;
  }
  
  .bienvenida {
    max-width: 30%;
    height: auto;
  }
  
  .textoJustificado {
    text-align: justify;
    margin-top: 3rem;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 30px;
  }
  
  .centrarBoton {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }